@media (max-width: 1200px){
    body{
        background-color: #262b35;
    }

    .background-video {
        display: none;
    }

    .title-container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .title-container .intro-image {
        max-width: 50%;
    }

    .title-container .description {
        margin-left: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title-container .description {
        color: white;
        text-align: center;
    }

    .card {
        width: 300px;
        height: 500px;
        perspective: 700px;
    }

    .back p {
        color: #a8adb7;
        width: 100%;
        font-size: 13px;
        margin: 30px 0;
    }
    
    .back h2 {
        color: #a8adb7;
        width: 100%;
        margin-top: 0;
    }
    
    .back .trailer-button {
        background-color: #ff0021;
        color: white;
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        transition: 0.5s all ease-in-out;
        align-self: center;
    }
}

@media (max-width: 500px){
    .header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .title-container .intro-image {
        max-width: 75%;
    }

    .modal .close-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px){
    .modal #video {
        width: 250px;
        height: 140px;
    }
}